<footer class="footer">
  <img src="" alt=""> <!-- icono up con enlace-->
  
  <ul class="linksMenu">
    <li class="menuItem">articles</li>
    <li class="menuItem">books</li>
    <li class="menuItem">events</li>
    <li class="menuItem">reasons</li>
    <li class="menuItem">tips</li>
  </ul>

  <ul class="linksSocial">
    <li class="socialItem">twitter</li>
    <li class="socialItem">instagram</li>
    <li class="socialItem">mastodon.social</li>
  </ul>
  <p class="copySmall">&copy; 2021</p>
  <p class="weLoveComponents">we ❤ components</p>
</footer>
