<!-- <header class="page__header">
  <img src="./assets/images/logo-adalab.png" alt="Adalab">
  <h1>@@title</h1>
</header> -->
<header class="header">
  <a href="https://adalab.es/" target="_blank"><img class="iconoMenu" src="../assets/images/ico-menu.svg" alt="icono de menú"></a>
  <!--hamburguesa-->
  <h1 class="anonymous">anonymous proxy</h1>
  <h3 class="subtitle">In hac habitasse platea dictumst.</h3>
  <img class="whiteCircle" src="../assets/images/ico-scroll-down.svg" alt=""> <!-- icon-->
</header>