<main class="main">

  <!-- FLEX SECTION -->
  <section class="sectionFlex">
    <small class="small">insomnia tips</small>
    <h2 class="lookingThrough">looking through a window</h2>
    <p class="paragraph">Donec accusamsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec
      lectus. Vivamus
      semper sodales rutrum.</p>
    <p class="buttonGo">Go</p>
  </section>

  <!-- GRID SECTION-->
  <section>
    <div class="grid-container">

      <div class="titleReasons">
        <p id="vinthreereasons">3 reasons to purchase</p>
      </div>

      <div class="item">
        <p class="reasonsBold">Ut sed metus</p>
        <p class="reasonsRegular">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
        
      <div class="item">
        <p class="reasonsBold">Curabitur ac erat</p>
        <p class="reasonsRegular">Mauris mattis urna quis lorem molestie.</p>
      </div>
    
      <div class="item">
        <p class="reasonsBold">Morbi dictum</p>
        <p class="reasonsRegular">Aliquam in dolor et dolor tincidunt.</p>
      </div>
           
      <div class="item">
        <p class="linkMore">More reasons</p>
      </div>

    </div>
  </section>

</main>