// fonts
$robotoBold: 'Roboto Slab', serif;
$robotoRegular: 'Roboto', sans-serif;

//colors
$orangeColor: #f26002;
$lightBlueColor: #8ccbea;
$mediumBlueColor: #0271bc;
$deepBlueColor: #304268;
$whiteColor: #ffffff;